.status__red {
  background-color: #fc4343;
  color: #fff;
}

.status__green {
  background-color: #13c013;
  color: #fff;
}

.status__container {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}
