.icon {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.rejected {
  background-color: #f13636;
}

.pending {
  background-color: #ffa600;
}

.approved {
  background-color: #12cc12;
}

.veiw__more__btn {
  color: #e76f51;
  border: solid #e76f51 0.1rem;
  transition: all ease-in-out 0.1s;
}

.veiw__more__btn:hover {
  color: #fff;
  background-color: #e76f51;
}
